
/* Asterisk wildcard to over ride default styles added by the browser */ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color:blueviolet;
}

/* Main */
main {
    background-color: aquamarine;
}

/* Footer */
footer{
    background-color: blanchedalmond;
}