
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Indie+Flower&display=swap');
/* Asterisk wildcard to over ride default styles added by the browser */ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #231D1A;
    font-family: 'Indie Flower', cursive;
}

/* Header */
header {
    background-color: #BDA987;
    padding: 0 1rem ;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #231D1A;
}

h1 {
    font-family: 'Comfortaa', cursive;
}

/* Main */
main {
    background-color: aquamarine;
    /* Make content take up any extra space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer{
    background-color: blanchedalmond;
}