
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Indie+Flower&display=swap');
/* Asterisk wildcard to over ride default styles added by the browser */ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #231D1A;
    font-family: 'Indie Flower', cursive;
}

/* Header */
header {
    background-color: #BDA987;
    padding: 0 1rem ;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #231D1A;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #050505;
}

#menu {
    font-size: 120%;
    letter-spacing: 3px;
    list-style: none;
}

#menu > li {
    margin-bottom: 0.7em;
}

.active {
    border-bottom: 1px solid #231D1A;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #BDA987;
    width: 100%;
    left: 0;
    padding: 0 1em;
    box-shadow: 0 2px 2px #231D1A;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    background-color: aquamarine;
    /* Make content take up any extra space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Footer */
footer{
    background-color: blanchedalmond;
}

/* Media query: Tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}